.product-wrapper {
  display: flex;
  padding: 0 10px;
}

.product-slider,
.product-content {
  max-width: 48%;
  text-align: center;
}

.VueCarousel-inner { 
	visibility: visible!important;
	flex-basis: 100%!important;
	width: 100%!important;
}

@media (max-width: 425px) {
  .product-wrapper {
    display: block;
  }

  .product-slider,
  .product-content {
    max-width: 100%;
  }
}